- var distDir = "../../dist/"
- var pageTitle="Pugna | Error Page"

include ../../main-content/header
include ../../sidebar/sidebar

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="theme-color", content="#FFFFFF")
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport")

    title=pageTitle
    
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Roboto")
    link(rel="stylesheet", href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href=distDir + "css/themes/comfort.min.css", type="text/css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-grid.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js")
  body
    .center-wrapper
      .centered-column
        .error-wrapper
          h1(class="color--c-danger", data-shadow="Ooops!") Ooops!
          p We can't find a page you are looking for, 
            a(class="ml-1", href="../dashboards/ecommerce.html") let's go back
          span Error code : 404

    script(src=distDir + "js/main.min.js")
  
