.alert {
  margin-bottom: 1rem;
  padding: 0.1rem 1rem;

  height: fit-content;
  width: 100%;

  background: $light;
  border: 2px solid transparent;
  border-radius: 3px;

  &.alert--dismissible {
    display: flex;
    align-items: center;

    & p {
      flex: 1;
    }

    & .alert-dismiss {
      width: fit-content;

      & .btn {
        background: transparent;

        &:active::after,
        &:focus::after {
          animation: none;
        }
      }
    }
  }

  &.alert--success {
    background: $c-success;

    &.alert--invert {
      background: white;

      border-color: $c-success;

      & p {
        color: $c-success;
      }
    }

    & p {
      color: $light;
    }
  }

  &.alert--info {
    background: $c-info;

    &.alert--invert {
      background: white;

      border-color: $c-info;

      & p {
        color: $c-info;
      }
    }

    & p {
      color: $dark;
    }
  }

  &.alert--warning {
    background: $c-warning;

    &.alert--invert {
      background: white;

      border-color: $c-warning;

      & p {
        color: $c-warning;
      }
    }

    & p {
      color: $dark;
    }
  }

  &.alert--danger {
    background: $c-danger;

    &.alert--invert {
      background: white;

      border-color: $c-danger;

      & p {
        color: $c-danger;
      }
    }

    & p {
      color: $light;
    }
  }

  & p {
    font-weight: bold;
    font-size: 16px;

    color: $dark;

    & span {
      margin-left: 8px;

      font-weight: normal;
      font-size: 13px;
    }
  }
}
