.trigger-chatbox {
  position: absolute;
  left: -30px;
  bottom: 1.1rem;

  height: 30px;
  width: 30px;

  background: $primary;
  border: none;
  border-radius: 2px 0 0 2px;

  font-size: 1rem;
  color: white;

  cursor: pointer;
  z-index: 7;
}

@media (max-width: 575.98px) {
  .trigger-chatbox {
    display: none;
  }
}

.chatbox {
  content: "";
  position: fixed;
  top: 70px;
  right: 0;

  display: flex;

  height: calc(100vh - 70px);
  width: 694px;

  background: $light;
  box-shadow: 0 -7px 15px 4px rgba($dark, 0.1);

  z-index: 8;
  transform: translateX(100%);

  &.show {
    animation: chatbox-show 0.9s 1 forwards;
  }

  &.hide {
    animation: chatbox-hide 0.9s 1 forwards;
  }

  @keyframes chatbox-show {
    from {
      transform: translateX(694px);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes chatbox-hide {
    from {
      transform: translateX(0);
    }
    to {
      // transform: translateX(120%);
      transform: translateX(694px);
    }
  }

  & ul.user-list {
    list-style-type: none;

    margin: 0;
    padding: 0;

    width: 45%;

    background: $dark;

    overflow-y: scroll;

    & .user-item {
      position: relative;

      display: flex;

      padding: 14px 16px;

      &.active,
      &.unread {
        & .user-info {
          color: $dark;
        }
      }

      &.active {
        background: $secondary;
      }

      &.unread {
        background: $light;
      }

      & img {
        margin-top: 4px;

        height: 30px;
        width: 30px;

        border-radius: 50%;
      }

      & .user-info {
        display: flex;
        flex-direction: column;

        flex: 1;

        padding: 0 10px;

        color: white;

        & h5,
        p {
          margin: 0;
        }

        & h5 {
          margin-bottom: 3px;

          font-size: 13px;
          font-weight: bold;
        }

        & p {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;

          font-size: 13px;

          overflow: hidden;
        }
      }

      & .user-time {
        margin-top: 3px;

        font-size: 9px;
        font-weight: bold;
        color: $primary;

        float: right;
      }
    }
  }

  & .chat-content {
    display: flex;
    flex-direction: column;

    width: 55%;

    background: white;

    & .chat-user-info {
      display: flex;
      flex-direction: row;
      align-items: center;

      padding: 12px 16px;

      background: $secondary;

      & img {
        height: 30px;
        width: 30px;

        border-radius: 50%;
      }

      & .chat-user-info {
        flex: 1;
        display: flex;

        margin-left: 10px;
        padding: 0;

        & p {
          margin: 0;

          max-width: 200px;

          font-size: 13px;
          font-weight: bold;
          color: $dark;

          text-overflow: ellipsis;
          overflow: hidden;
        }

        & .badge {
          margin-left: auto;
        }
      }
    }

    & .chat-log {
      list-style-type: none;

      margin: 0;
      padding: 0;

      max-height: calc(100% - 60px);

      overflow-y: auto;

      & .chat-item {
        padding: 14px 20px;

        height: fit-content;

        font-size: 13px;

        &.incoming {
          background: rgba($primary, 0.1);
        }

        &.outgoing {
          background: white;

          text-align: right;
        }

        & p {
          margin: 0;
        }
      }
    }

    & .chat-form {
      display: flex;
      align-items: center;

      margin-top: auto;
      padding: 0 1rem;

      min-height: 55px;
      max-height: 55px;

      background: $secondary;

      & .btn-attach {
        height: 30px;
        width: 30px;

        background: $primary;
        border: none;
        border-radius: 4px;

        color: white;

        cursor: pointer;
      }

      & input[type="text"] {
        flex-grow: 1;

        margin-left: 10px;
        padding: 4px 10px;

        height: 30px;

        border: none;
        border-radius: 2px;
      }

      & input[type="file"] {
        display: none;
      }
    }
  }
}
