:root {
  --pg-primary: #{$primary};
  --pg-secondary: #{$secondary};
  --pg-light: #{$light};
  --pg-dark: #{$dark};
}

* {
  outline: 0;
}

html,
body {
  margin: 0;
  padding: 0;

  height: 100vh;

  background: $light;

  font-family: "Nunito", sans-serif;
  font-weight: 400;

  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Nunito", sans-serif;
}

a[href] {
  text-decoration: none;

  font-size: 0.9rem;
  color: $primary;

  cursor: pointer;

  &:active,
  &:focus,
  &:visited {
    color: $c-success;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

hr {
  margin: 0.5rem 0 1rem 0;

  border-color: rgba($dark, 0.1);

  &:not([data-hr]) {
    height: 1px;

    border: none;

    background: rgba($dark, 0.3);
  }

  &[data-hr] {
    position: relative;

    display: flex;

    border: none;

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 0;

      height: 1px;
      width: 100%;

      background: rgba($dark, 0.3);
    }

    &::after {
      content: attr(data-hr);

      position: relative;
      top: 0;
      left: 1rem;

      height: fit-content;

      background: white;

      font-size: 0.7rem;
      color: rgba($dark, 0.4);
    }

    &.data-hr--centered {
      justify-content: center;
      align-items: center;

      margin: 1rem 0 1rem 0;

      height: fit-content;

      &::after {
        top: 0;
        left: 0;
      }
    }
  }
}

li {
  font-size: 14px;
}

.font-weight-bold {
  font-weight: bold;
}

.text--center {
  text-align: center !important;
}

.center-wrapper {
  display: flex;

  height: 100%;
  width: 100%;

  .centered-row {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centered-column {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 2rem;

  & h1 {
    position: relative;

    margin: 0;

    font-size: 8rem;
    line-height: 8rem;

    z-index: 2;

    &::after {
      content: attr(data-shadow);

      position: absolute;
      bottom: -9px;
      left: 0;

      color: rgba($dark, .3);

      z-index: -1;
    }
  }

  p {
    margin: 1.5rem 0 .5rem 0;

    color: $dark;
  }

  span {
    font-family: "Roboto";
    font-size: .8rem;
  }
}

@media (max-width: 575.98px) {
  .error-wrapper {
    text-align: center;

    & h1 {
      font-size: 4rem;
    }

    & p {
      margin: .25rem 0 .75rem 0;
    }
  }     
}

.scroll-x {
  overflow-x: auto;
}

.helper-text {
  font-size: 0.8rem;
}

.valign-middle {
  vertical-align: middle;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

.clear--both {
  clear: both;
}

.dropdown-box {
  position: absolute;
  top: calc(2.25rem + 11px);
  right: 0;

  display: none;

  margin: 0;
  padding: 0;

  background: white;
  border-radius: 4px;
  box-shadow: 0 0 10px 1px rgba($dark, 0.075);

  list-style-type: none;

  animation: show-dropdown 0.3s 1 forwards;

  &::before {
    content: "";

    position: absolute;
    top: -7px;
    right: 6px;

    border-bottom: 8px solid white;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
  }

  @keyframes show-dropdown {
    from {
      opacity: 0;
      z-index: 0;
    }
    to {
      transform: translateY(-10px);
      opacity: 1;
      z-index: 7;
    }
  }

  &.dropdown-box--centered {
    right: unset;
    left: 50%;

    transform: translateX(-50%);

    animation: show-dropdown-centered 0.3s 1 forwards;

    &::before {
      content: "";

      position: absolute;
      top: -7px;
      right: unset;
      left: calc(50% - 8px);

      border-bottom: 8px solid white;
      border-right: 9px solid transparent;
      border-left: 9px solid transparent;
    }
  }

  @keyframes show-dropdown-centered {
    from {
      opacity: 0;
      z-index: 0;
    }
    to {
      transform: translate(-50%, -10px);
      opacity: 1;
      z-index: 7;
    }
  }

  &.with-header {
    &::before {
      border-bottom-color: $primary;
    }

    & .dropdown-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding: 0.75rem 1rem;

      min-width: 250px;

      background: $primary;
      border-radius: 3px 3px 0 0;

      & h3,
      & span {
        margin: 0;

        color: white;
      }
    }

    & .dropdown-body {
      padding: 0.75rem 1.75rem;

      & a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0.5rem;

        color: $primary;

        text-align: center;

        &:hover {
          background: rgba($primary, 0.1);

          color: rgba($primary, 0.8);
        }

        & i {
          color: rgba($dark, 0.6);

          &:hover {
            background: transparent !important;
            color: rgba($dark, 0.6) !important;
          }
        }
      }
    }

    & ul.dropdown-body {
      padding: 0;

      & li a {
        flex-direction: row;
        justify-content: flex-start;

        & i,
        i:hover {
          background: transparent;

          color: rgba($dark, 0.6);
        }

        & span {
          max-width: 250px;

          color: black;
        }
      }
    }
  }

  & li {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
      background: rgba($primary, 0.1);
    }

    &:last-child {
      margin-bottom: 0.5rem;
    }

    & a {
      flex: 1;

      display: flex;
      align-items: center;

      padding: 0.4rem 1rem 0.4rem 0.5rem;

      color: black;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover i {
        background: inherit;
      }

      & span {
        margin: auto 8px;

        font-size: 0.8rem;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & i:hover {
        background: transparent !important;
      }
    }
  }
}

.color-scheme {
  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;
  padding: 0 10px;

  height: 160px;
  width: 100%;

  & .color-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    font-size: 0.8rem;

    &:nth-of-type(2) {
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }

    &.no-center {
      justify-content: flex-start;

      font-weight: bold;
    }
  }
}

.color-box {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 10px 1rem 10px;

  height: 90px;
  width: 90px;

  border-radius: 4px;

  font-size: 0.8rem;
}

.icon-box {
  display: flex;
  align-items: center;

  height: 35px;
  width: 100%;

  border: 1px solid rgba($dark, 0.1);
  border-radius: 4px;

  font-size: 0.8rem;

  & i {
    width: 35px;

    text-align: center;
  }
}

.img-wrapper {
  height: auto;
  max-width: 100%;

  img {
    height: auto;
    max-width: 100%;

    border-radius: 4px;
  }
}

.canvas-header {
  margin: 0;

  color: $dark;

  & span.overview {
    margin-left: 8px;

    font-size: 1.1rem;

    color: $primary;
  }
}

.no-border {
  border: none !important;
}

.no-shadow {
  box-shadow: none !important;
}

.user-img {
  height: 30px;
  width: 30px;

  border-radius: 100%;

  &.user-img--lg {
    height: 55px;
    width: 55px;
  }
}

.color--primary {
  color: $primary !important;
}
.color--secondary {
  color: $secondary !important;
}
.color--light {
  color: $light !important;
}
.color--dark {
  color: $dark !important;
}
.color--c-primary {
  color: $c-primary !important;
}
.color--c-success {
  color: $c-success !important;
}
.color--c-info {
  color: $c-info !important;
}
.color--c-warning {
  color: $c-warning !important;
}
.color--c-danger {
  color: $c-danger !important;
}

.bg--primary {
  background: $primary !important;
  color: white !important;
}
.bg--secondary {
  background: $secondary !important;
  color: $dark !important;
}
.bg--light {
  background: $light !important;
  color: $dark !important;
}
.bg--dark {
  background: $dark !important;
  color: white !important;
}
.bg--c-primary {
  background: $c-primary !important;
  color: white !important;
}
.bg--c-info {
  background: $c-info !important;
  color: white !important;
}
.bg--c-success {
  background: $c-success !important;
  color: white !important;
}
.bg--c-warning {
  background: $c-warning !important;
  color: #434738 !important;
}
.bg--c-danger {
  background: $c-danger !important;
  color: white !important;
}
