.tab {
  margin: 1rem 0;

  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 5px 1px rgba($dark, 0.1);

  &.vertical {
    display: flex;

    align-items: flex-start;

    background: none;
    box-shadow: none;

    & > .tab-header {
      width: fit-content;
      max-width: 10%;

      & .tab__navigation {
        display: flex;
        flex-direction: column;

        width: 100%;

        & .tab__nav-item {
          padding: auto 5px;

          width: 100%;

          background: white;

          &:first-child {
            border-top-left-radius: 3px;
          }

          &:last-child {
            border-bottom-left-radius: 3px;
          }

          &.active {
            border-color: transparent $primary transparent transparent;
          }
        }
      }
    }

    & > .tab-body {
      flex-grow: 1;

      background: white;
      border-radius: 0 4px 4px 0;
      box-shadow: 0 1px 5px 1px rgba($dark, 0.1);
    }
  }

  & .tab-header {
    display: flex;
    align-items: center;

    border-bottom: 1px solid rgba($dark, 0.05);

    &.no-border {
      border-color: transparent;
    }

    & h3,
    & p,
    & a {
      margin: 0;
    }

    & a {
      margin-left: auto;
      cursor: pointer;
    }

    & .tab__navigation {
      list-style-type: none;

      margin: 0;
      padding: 0;

      display: flex;

      & .tab__nav-item {
        margin: 0;
        padding: 0.5rem 1rem;

        border: 3px solid rgba($secondary, 0.1);
        border-bottom-color: transparent;

        cursor: pointer;

        &:hover {
          background: rgba($secondary, 0.2);
        }

        &:not(.active) {
          border-color: transparent;
        }

        &.active {
          border-color: transparent transparent $primary transparent;

          color: $primary;
        }

        &:first-child {
          border-top-left-radius: 3px;
        }

        &:last-child {
          border-top-right-radius: 3px;
        }
      }
    }
  }

  & .tab-body {
    padding: 1rem 1.5rem;

    &.responsive {
      overflow-x: auto;
    }

    & img {
      max-width: 100%;
    }

    & .tab__content {
      display: flex;
      flex-direction: column;

      & h3, & p {
        margin-top: 0;
      }
    }
  }

  & .tab-footer {
    padding: 0.75rem 1rem;

    background: rgba($primary, 0.1);
    border-radius: 0 0 4px 4px;
  }
}

// @media (max-width: 575.98px) {
//   & form.searchbox {
//     display: inline;

//     & input[type="text"] {
//       display: none;
//     }
//   }
// }
