.sidebar
  include sidebar-header
  .sidebar-wrapper
    ul.list-menu
      li.has-children.active
        a(href="javascript:;")
          i(class="fa fa-dashboard")
          span Dashboards
          i(class="fa fa-chevron-down tree-icon")
        ul.tree
          li.tree-item
            a(href="../dashboards/ecommerce.html")
              i(class="fa fa-circle")
              span Ecommerce
          li.tree-item
            a(href="../dashboards/iot.html").active
              i(class="fa fa-circle")
              span IoT
      li.has-children
        a(href="javascript:;")
          i(class="fa fa-laptop")
          span Components
          i(class="fa fa-chevron-right tree-icon")
        ul.tree
          li.tree-item
            a(href="../components/colors.html")
              i(class="fa fa-circle")
              span Colors
            //- a(href="")
            //-   i(class="fa fa-circle")
            //-   span Icons
          li.tree-item
            a(href="../components/buttons.html")
              i(class="fa fa-circle")
              span Buttons
          li.tree-item
            a(href="")
              i(class="fa fa-circle")
              span Sliders
      li
        a(href="/")
          i(class="fa fa-star")
          span Widgets
          span.notification 3
      li.has-children
        a(href="javascript:;")
          i(class="fa fa-pencil-square-o")
          span Forms
          i(class="fa fa-chevron-right tree-icon")
        ul.tree
          li.tree-item
            a(href="../forms/general.html")
              i(class="fa fa-circle")
              span General
          li.tree-item
            a(href="../forms/advanced.html")
              i(class="fa fa-circle")
              span Advanced
      li.has-children
        a(href="javascript:;")
          i(class="fa fa-th-large")
          span Tables
          i(class="fa fa-chevron-right tree-icon")
        ul.tree
          li.tree-item
            a(href="../tables/simple.html")
              i(class="fa fa-circle")
              span Simple
          li.tree-item
            a(href="")
              i(class="fa fa-circle")
              span Datatable
      li.has-children
        a(href="javascript:;")
          i(class="fa fa-columns")
          span Pages
          i(class="fa fa-chevron-right tree-icon")
        ul.tree
          li.tree-item
            a
              i(class="fa fa-circle")
              span Login
          li.tree-item
            a(href="")
              i(class="fa fa-circle")
              span Register
          li.tree-item
            a(href="")
              i(class="fa fa-circle")
              span 404