.chatbox
  button.trigger-chatbox
    i.la.la-comments
  ul.user-list
    li.user-item.active
      img(src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/101e1fb9-0b2e-4f2d-acfb-a777dc48f629/d4sn4w7-2a5d1fdf-2af2-408a-9300-08f28cd12951.png").user-img
      .user-info
        h5 Grand Magus
        p Pagi, barang saya ngga sesuai pesanan, gimana cara prosedur returnya ?
      span.user-time 17:56
    li.user-item
      img(src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/101e1fb9-0b2e-4f2d-acfb-a777dc48f629/d4sn4w7-2a5d1fdf-2af2-408a-9300-08f28cd12951.png").user-img
      .user-info
        h5 Jah'rakal
        p Selamat pagi pak, ada yang ingin saya tanyakan....
      span.user-time 17:56
    li.user-item
      img(src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/101e1fb9-0b2e-4f2d-acfb-a777dc48f629/d4sn4w7-2a5d1fdf-2af2-408a-9300-08f28cd12951.png").user-img
      .user-info
        h5 Dragonus
        p Selamat pagi pak, ada yang ingin saya tanyakan....
      span.user-time 17:56
    li.user-item.unread
      img(src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/101e1fb9-0b2e-4f2d-acfb-a777dc48f629/d4sn4w7-2a5d1fdf-2af2-408a-9300-08f28cd12951.png").user-img
      .user-info
        h5 Rigwarl
        p Selamat pagi pak, ada yang ingin saya tanyakan....
      span.user-time 17:56
    li.user-item
      img(src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/101e1fb9-0b2e-4f2d-acfb-a777dc48f629/d4sn4w7-2a5d1fdf-2af2-408a-9300-08f28cd12951.png").user-img
      .user-info
        h5 Jin'zakk
        p Selamat pagi pak, ada yang ingin saya tanyakan....
      span.user-time 17:56
    li.user-item
      img(src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/101e1fb9-0b2e-4f2d-acfb-a777dc48f629/d4sn4w7-2a5d1fdf-2af2-408a-9300-08f28cd12951.png").user-img
      .user-info
        h5 Azwraith
        p Selamat pagi pak, ada yang ingin saya tanyakan....
      span.user-time 17:56
    li.user-item
      img(src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/101e1fb9-0b2e-4f2d-acfb-a777dc48f629/d4sn4w7-2a5d1fdf-2af2-408a-9300-08f28cd12951.png").user-img
      .user-info
        h5 Abaddon
        p Selamat pagi pak, ada yang ingin saya tanyakan....
      span.user-time 17:56
    li.user-item.unread
      img(src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/101e1fb9-0b2e-4f2d-acfb-a777dc48f629/d4sn4w7-2a5d1fdf-2af2-408a-9300-08f28cd12951.png").user-img
      .user-info
        h5 Azgalor
        p Selamat pagi pak, ada yang ingin saya tanyakan....
      span.user-time 17:56
    li.user-item.unread
      img(src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/101e1fb9-0b2e-4f2d-acfb-a777dc48f629/d4sn4w7-2a5d1fdf-2af2-408a-9300-08f28cd12951.png").user-img
      .user-info
        h5 Ish'kafel
        p Selamat pagi pak, ada yang ingin saya tanyakan....
      span.user-time 17:56
    li.user-item
      img(src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/101e1fb9-0b2e-4f2d-acfb-a777dc48f629/d4sn4w7-2a5d1fdf-2af2-408a-9300-08f28cd12951.png").user-img
      .user-info
        h5 Lesale
        p Selamat pagi pak, ada yang ingin saya tanyakan....
      span.user-time 17:56
    li.user-item
      img(src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/101e1fb9-0b2e-4f2d-acfb-a777dc48f629/d4sn4w7-2a5d1fdf-2af2-408a-9300-08f28cd12951.png").user-img
      .user-info
        h5 Yurnero
        p Selamat pagi pak, ada yang ingin saya tanyakan....
      span.user-time 17:56
  .chat-content
    .chat-user-info
      img(src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/101e1fb9-0b2e-4f2d-acfb-a777dc48f629/d4sn4w7-2a5d1fdf-2af2-408a-9300-08f28cd12951.png").user-img
      .chat-user-info
        p Grand Magus
        span.badge Guest
    ul.chat-log
      li.chat-item.incoming
        p Selamat pagi
      li.chat-item.outgoing
        p Selamat pagi User 1, saya Joni Jebret. Ada yang bisa kami bantu ?
      li.chat-item.incoming
        p Pesanan saya dengan nomor invoice <b>INV1023712037</b>, belum sampai dari 3 hari yang lalu.
      li.chat-item.outgoing
        p Tunggu sebentar ya kak, kami akan memeriksa dari sistem.
      li.chat-item.incoming
        p Baik...
      li.chat-item.outgoing
        p Pesanan dengan nomor invoice <b>INV1023712037</b> sedang berada di kantor ekspedisi Jl. ABC kak.
      li.chat-item.outgoing
        p Barang dialihkan karena tidak ada yang menerima barang di lokasi pada 2 Januari 2019 lalu.
      li.chat-item.incoming
        p Barang dialihkan karena tidak ada yang menerima barang di lokasi pada 2 Januari 2019 lalu.
      li.chat-item.incoming
        p Barang dialihkan karena tidak ada yang menerima barang di lokasi pada 2 Januari 2019 lalu.
      li.chat-item.outgoing
        p Barang dialihkan karena tidak ada yang menerima barang di lokasi pada 2 Januari 2019 lalu.
      li.chat-item.incoming
        p Barang dialihkan karena tidak ada yang menerima barang di lokasi pada 2 Januari 2019 lalu.
      li.chat-item.outgoing
        p Barang dialihkan karena tidak ada yang menerima barang di lokasi pada 2 Januari 2019 lalu.
      li.chat-item.incoming
        p Barang dialihkan karena tidak ada yang menerima barang di lokasi pada 2 Januari 2019 lalu.aa
    .chat-form
      button.btn-attach
        i.la.la-paperclip
      input(type="text", name="chat", placeholder="Isi pesan Anda...")
      input(type="file", name="file")