.header
  .left
    p General Form
    .breadcrumb
      span Home
      span Forms
      span General
  ul.right
    li.header-item-searchbox
      input(type="text", name="")
      i.fa.fa-search
    li.header-item
      i.fa.fa-envelope
      span
        sup 10
    li.header-item
      i.fa.fa-bell
      span
        sup 3
    li
      a.user-photo
        img(src="http://preview.premium-contao-themes.com/quantum2/demo/files/cto_layout/img/placeholder/team_1.jpg").user-img