- var distDir = "../../dist/"
- var pageTitle="Pugna | Icons"

include ../../main-content/header
include ../../sidebar/sidebar

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="theme-color", content="#FFFFFF")
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport")

    title=pageTitle
    
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Roboto")
    link(rel="stylesheet", href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href=distDir + "css/themes/comfort.min.css", type="text/css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-grid.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js")
  body
    +sidebar("base", "icons")
    .main-content
      +header("Icons", "Components", "Base", "Icons")
      .content-wrapper
        include ../../main-content/chatbox
        .container-fluid
          .row
            .col-12
              .box
                .box-header
                  h3 Line Awesome
                .box-body
                  .row.py-2.px-3
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-adjust
                        span la-adjust
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-anchor
                        span la-anchor
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-archive
                        span la-archive
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-area-chart
                        span la-area-chart
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-arrows
                        span la-arrows
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-arrows-h
                        span la-arrows-v
                  .row.py-2.px-3
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-arrows-v
                        span la-arrows-v
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-asterisk
                        span la-asterisk
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-at
                        span la-at
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-automobile
                        span la-automobile
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-balance-scale
                        span la-balance-scale
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-ban
                        span la-ban
                  .row.py-2.px-3
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-bank
                        span la-bank
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-bar-chart
                        span la-bar-chart
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-bar-chart-o
                        span la-bar-chart-o
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-barcode
                        span la-barcode
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-bars
                        span la-bars
                    .col-md-2.px-2
                      .icon-box
                        i.la.la-battery-0
                        span la-battery-0
                .box-footer
                  a.float--right(href="https://icons8.com/line-awesome", target="_blank") 
                    span see more 
                    i.fa.fa-external-link
                  .clear--both

          .row
            .col-12
              .box
                .box-header
                  h3 Font Awesome
                .box-body
                  .row.py-2.px-3
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-adjust
                        span fa-adjust
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-anchor
                        span fa-anchor
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-archive
                        span fa-archive
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-area-chart
                        span fa-area-chart
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-arrows
                        span fa-arrows
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-arrows-h
                        span fa-arrows-v
                  .row.py-2.px-3
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-arrows-v
                        span fa-arrows-v
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-asterisk
                        span fa-asterisk
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-at
                        span fa-at
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-automobile
                        span fa-automobile
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-balance-scale
                        span fa-balance-scale
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-ban
                        span fa-ban
                  .row.py-2.px-3
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-bank
                        span fa-bank
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-bar-chart
                        span fa-bar-chart
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-bar-chart-o
                        span fa-bar-chart-o
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-barcode
                        span fa-barcode
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-bars
                        span fa-bars
                    .col-md-2.px-2
                      .icon-box
                        i.fa.fa-battery-0
                        span fa-battery-0
                .box-footer
                  a.float--right(href="https://fontawesome.com/v4.7.0/icons/", target="_blank") 
                    span see more 
                  i.fa.fa-external-link
                .clear--both

        include ../../main-content/footer

    script(src=distDir + "js/main.min.js")
