- var distDir = "../../dist/"
- var pageTitle="Pugna | Tabs"

include ../../main-content/header
include ../../sidebar/sidebar

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="theme-color", content="#FFFFFF")
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport")

    title=pageTitle
    
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Roboto")
    link(rel="stylesheet", href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css")
    link(rel="stylesheet", href=distDir + "css/main.css", type="text/css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-grid.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js")
  body
    +sidebar("base", "tabs")
    .main-content
      +header("Tabs", "Components", "Base", "Tabs")
      .content-wrapper
        include ../../main-content/chatbox
        .container-fluid
          .row
            .col-md-6
              .tab
                .tab-header
                  ul.tab__navigation
                    li.tab__nav-item(data-tab="#tab1-1") Tab 1
                    li.tab__nav-item(data-tab="#tab1-2") Tab 2
                    li.tab__nav-item.active(data-tab="#tab1-3") Tab 3
                .tab-body
                  .tab__content#tab1-1
                    h3 Tab 1 1
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut fuga harum minus error alias temporibus delectus, iste iusto molestiae maxime reprehenderit laudantium tempora placeat dolores facere est quibusdam id? Magnam.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ad cum omnis sequi doloremque reprehenderit, harum iusto temporibus odit expedita laborum dolorum sed illo cumque alias assumenda nam sunt rerum.
                  .tab__content#tab1-2
                    h3 Tab 1 2
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis possimus laudantium officia perferendis recusandae exercitationem minima dignissimos esse architecto? Non similique asperiores eos ut tempora rerum maiores, fugit ipsum quo.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum exercitationem eum doloribus, asperiores voluptatem quidem expedita quae. Autem mollitia, assumenda quasi tenetur veritatis eveniet magnam adipisci reprehenderit soluta asperiores rem?
                  .tab__content#tab1-3
                    h3 Tab 1 3
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas cumque fuga nobis deserunt corporis eveniet deleniti odit ut magnam, delectus eius mollitia sequi maiores magni quis? Assumenda quo maxime cupiditate!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias earum, vitae, vel incidunt aliquam obcaecati ipsum, nesciunt a aperiam ab animi. Quos, autem dolore debitis ad obcaecati perferendis qui corporis?
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat nobis dolore minima quidem odio sed, consequatur sapiente velit possimus dicta. Sit, eum repellat sequi perspiciatis consectetur itaque nisi officia omnis!

            .col-md-6
              .tab
                .tab-header
                  ul.tab__navigation
                    li.tab__nav-item.active(data-tab="#tab2-1") Tab 1
                    li.tab__nav-item(data-tab="#tab2-2") Tab 2
                    li.tab__nav-item(data-tab="#tab2-3") Tab 3
                .tab-body
                  .tab__content#tab2-1
                    h3 Tab 2 1
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate perferendis magni laboriosam optio veniam distinctio blanditiis voluptate odio. Nesciunt soluta asperiores itaque, voluptatibus earum doloremque incidunt tempora vitae omnis est.
                    .tab
                      .tab-header
                        ul.tab__navigation
                          li.tab__nav-item.active(data-tab="#tab2-1-1") Tab 1 1
                          li.tab__nav-item(data-tab="#tab2-1-2") Tab 1 2
                          li.tab__nav-item(data-tab="#tab2-1-3") Tab 1 3
                      .tab-body
                        .tab__content#tab2-1-1
                          h3 Tab 2 1 1
                          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo laborum repellat ipsam deserunt nam nobis? Aperiam dolorem sed officia quaerat pariatur repellat sapiente eligendi eius amet ducimus, fugit vero provident.
                        .tab__content#tab2-1-2
                          h3 Tab 2 1 2
                          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio expedita inventore alias necessitatibus soluta odit nostrum pariatur aliquid, eligendi, quia nisi quas, accusantium aliquam adipisci. In quibusdam dignissimos voluptatem cum!
                        .tab__content#tab2-1-3
                          h3 Tab 2 1 3
                          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium sequi nihil enim error optio voluptates provident obcaecati, iste hic praesentium. Dolorum quibusdam voluptatum illo ea eaque consectetur earum dolore quas.
                  .tab__content#tab2-2
                    h3 Tab 2 2
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quos? Nesciunt nemo non praesentium quo quos esse commodi dolores vero deleniti quia ullam reiciendis adipisci, excepturi, quibusdam numquam! Accusamus, iste?
                  .tab__content#tab2-3
                    h3 Tab 2 3
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, commodi? Officiis provident aliquid, laudantium sapiente cum eaque nam? Voluptates vitae accusantium laboriosam atque hic dicta minus exercitationem expedita facilis repellat?

          .row
            .col-md-6
              .tab.vertical
                .tab-header
                  ul.tab__navigation
                    li.tab__nav-item.active(data-tab="#tab3-1") 
                      i.la.la-user
                    li.tab__nav-item(data-tab="#tab3-2")
                      i.la.la-pencil
                    li.tab__nav-item(data-tab="#tab3-3")
                      i.la.la-cog
                .tab-body
                  .tab__content#tab3-1
                    div.mt-2.mb-3
                      img(src="https://via.placeholder.com/400x100?text=Vertical+Tab+1", alt="")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut fuga harum minus error alias temporibus delectus, iste iusto molestiae maxime reprehenderit laudantium tempora placeat dolores facere est quibusdam id? Magnam.
                  .tab__content#tab3-2
                    div.mt-2.mb-3
                      img(src="https://via.placeholder.com/400x100?text=Vertical+Tab+2", alt="")
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis possimus laudantium officia perferendis recusandae exercitationem minima dignissimos esse architecto? Non similique asperiores eos ut tempora rerum maiores, fugit ipsum quo.
                  .tab__content#tab3-3
                    div.mt-2.mb-3
                      img(src="https://via.placeholder.com/400x100?text=Vertical+Tab+3", alt="")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas cumque fuga nobis deserunt corporis eveniet deleniti odit ut magnam, delectus eius mollitia sequi maiores magni quis? Assumenda quo maxime cupiditate!

            .col-md-6
              .tab.vertical
                .tab-header
                  ul.tab__navigation
                    li.tab__nav-item.active(data-tab="#tab4-1") 
                      i.la.la-user
                    li.tab__nav-item(data-tab="#tab4-2")
                      i.la.la-pencil
                    li.tab__nav-item(data-tab="#tab4-3")
                      i.la.la-cog
                .tab-body
                  .tab__content#tab4-1
                    div.mt-2.mb-3
                      img(src="https://via.placeholder.com/400x100?text=Nested+Vertical+Tab+1", alt="")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut fuga harum minus error alias temporibus delectus, iste iusto molestiae maxime reprehenderit laudantium tempora placeat dolores facere est quibusdam id? Magnam.
                    .tab
                      .tab-header
                        ul.tab__navigation
                          li.tab__nav-item.active(data-tab="#tab4-1-1") Tab 4 1 1
                          li.tab__nav-item(data-tab="#tab4-1-2") Tab 4 1 2
                          li.tab__nav-item(data-tab="#tab4-1-3") Tab 4 1 3
                      .tab-body
                        .tab__content#tab4-1-1
                          h3 Tab 4 1 1
                          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo laborum repellat ipsam deserunt nam nobis? Aperiam dolorem sed officia quaerat pariatur repellat sapiente eligendi eius amet ducimus, fugit vero provident.
                        .tab__content#tab4-1-2
                          h3 Tab 4 1 2
                          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio expedita inventore alias necessitatibus soluta odit nostrum pariatur aliquid, eligendi, quia nisi quas, accusantium aliquam adipisci. In quibusdam dignissimos voluptatem cum!
                        .tab__content#tab4-1-3
                          h3 Tab 4 1 3
                          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium sequi nihil enim error optio voluptates provident obcaecati, iste hic praesentium. Dolorum quibusdam voluptatum illo ea eaque consectetur earum dolore quas.
                  .tab__content#tab4-2
                    div.mt-2.mb-3
                      img(src="https://via.placeholder.com/400x100?text=Nested+Vertical+Tab+2", alt="")
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis possimus laudantium officia perferendis recusandae exercitationem minima dignissimos esse architecto? Non similique asperiores eos ut tempora rerum maiores, fugit ipsum quo.
                  .tab__content#tab4-3
                    div.mt-2.mb-3
                      img(src="https://via.placeholder.com/400x100?text=Nested+Vertical+Tab+3", alt="")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas cumque fuga nobis deserunt corporis eveniet deleniti odit ut magnam, delectus eius mollitia sequi maiores magni quis? Assumenda quo maxime cupiditate!

        include ../../main-content/footer

    script(src=distDir +"js/main.js")
