- var pageTitle="Pugna"
- var youAreUsingPug=true

doctype html
html(lang="en")
  head
    meta(name="theme-color", content="#b5d43c")
    title=pageTitle
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Roboto")
    link(rel="stylesheet", href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css")
    link(rel="stylesheet", href="dist/css/main.css", type="text/css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-grid.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js")
  body
    include sidebar/sidebar
    include main-content/main-content

    script(src="dist/js/main.js")
