$c-primary: #4FA4F3;
$c-info: #C8E3F5;
$c-success: #009A59;
$c-warning: #FFCC54;
$c-danger: #F6554D;


$primary: #b5d43c;
$secondary: #D9EF81;
$accent: #d1b18e;
$light: #F7F7F7;
$dark: #434738;

// $primary: #F752A7;
// $secondary: #FBDDEC;
// $accent: #d1b18e;
// $light: #FFFFFF;
// $dark: #131E77;

// $primary: #EB6E3D;
// $secondary: #FFD764;
// $accent: #d1b18e;
// $light: #F2EFF1;
// $dark: #2D2B36;

// $primary: #5BD3C7;
// $secondary: #ECECEC;
// $accent: #d1b18e;
// $light: #FFFFFF;
// $dark: #3B3B3B;

// $primary: #FB770D;
// $secondary: #FFA45B;
// $accent: #d1b18e;
// $light: #FFEBDB;
// $dark: #25424C;

// $primary: #ff0000;
// $secondary: white;
// $accent: #d1b18e;
// $light: white;
// $dark: #282828;