$c-primary: #4fa4f3;
$c-info: #c8e3f5;
$c-success: #2bcbba;
$c-warning: #ffcc54;
$c-danger: #f6554d;

$primary: #B5D43C;
$secondary: #D9EF81;
$accent: #D1B18E;
$light: #F7F7F7;
$dark: #434738;

// $primary: #FFA939;
// $secondary: #B8D8E0;
// $accent: #D1B18E;
// $light: #FCF5EF;
// $dark: #09264A;

// $primary: #F752A7;
// $secondary: #FBDDEC;
// $accent: #D1B18E;
// $light: #FFFFFF;
// $dark: #131E77;

// $primary: #EB6E3D;
// $secondary: #FFD764;
// $accent: #D1B18E;
// $light: #F2EFF1;
// $dark: #2D2B36;

// $primary: #5BD3C7;
// $secondary: #ECECEC;
// $accent: #D1B18E;
// $light: #FFFFFF;
// $dark: #3B3B3B;

// $primary: #FB770D;
// $secondary: #FFA45B;
// $accent: #D1B18E;
// $light: #FFEBDB;
// $dark: #25424C;

// $primary: #FF0000;
// $secondary: white;
// $accent: #D1B18E;
// $light: white;
// $dark: #282828;
