@import "_color";

.box {
  margin: 1rem 0;

  background: white;
  border-radius: 4px;
  box-shadow: 0 3px 10px 1px rgba($dark, 0.1);

  & .box-header {
    display: flex;
    align-items: center;

    padding: 0.75rem 1rem;

    & * {
      margin: 0;
    }

    & a {
      margin-left: auto;
      cursor: pointer;

      & i {
        padding: 6px;

        background: white;
        border-radius: 100%;

        &.active,
        &:hover {
          background: $light;
        }
      }
    }

    & .chip--floating {
      position: absolute;
      top: 3px;
      left: 2rem;
      
      padding: 6px 8px;

      width: fit-content;

      background: $primary;
      border-radius: 20px 20px;

      font-size: 0.75rem !important;
      font-weight: bold;
      color: white;
    }
  }

  & .box-body {
    padding: .75rem 1rem;
  }

  & .box-footer {
    padding: .75rem 1rem;

    background: rgba($primary, .1);
    border-radius: 0 0 4px 4px;
  }
}
